/*@media only screen and (max-width: 800px) {*/
@media (hover: none) and (pointer: coarse) {
    .jumbotron{
        margin:10px !important;
    }

    .nav-item a{
        text-align: center !important;
    }

    .__react_component_tooltip{
        visibility: hidden !important;
    }

    .main .main-container{
        padding-left: 0px !important;
        padding-right: 0px !important;
    }

    .employer h5{
        font-size:16px;
    }

    .location h5{
        font-size:16px;
    }

    .role h6{
        font-size:14px;
    }

    .time h6{
        font-size:14px;
    }

    .experience-el{
        flex-wrap: nowrap !important;
    }

    .experience-el div h1{
        padding-top: 10px;
    }

    .experience-el div ul li{
        list-style: none;
        text-align:center;
    }

    .description{
        padding-top: 10px;
        text-align: left;
    }

    #courses-taken{
        padding-top: 10px;
        flex-direction: column !important;
    }

    #courses-taken div ul{
        margin:0;
    }

    #education-descriptor{
        flex-direction: column !important;
    }

    #education-descriptor div{
         text-align: left !important;
    }

    #tab-nav{
        padding-bottom: 40px;
    }

    #tab-container-tabpane-photography .nocolor div div img {
        -webkit-filter: grayscale(0%) !important; /* Safari 6.0 - 9.0 */
        filter: grayscale(0%) !important;
    }

    .course-item{
        font-size: 13px;
    }

    .work-container div div p{
        padding-bottom: 20px !important;
    }
}