.image-gallery-image img{
    max-height: 350px;
    width: auto !important;
}

.image-gallery-thumbnails-wrapper{
    visibility: hidden;
}

.image-gallery-right-nav{
    outline:none !important;
}

.image-gallery-left-nav{
    outline:none !important;
}

.image-gallery-image a img {
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.image-gallery-image a img:hover {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
}

.image-gallery-fullscreen-button:hover::before, .image-gallery-play-button:hover::before, .image-gallery-left-nav:hover::before, .image-gallery-right-nav:hover::before {
    color: darkgrey !important;
}