.main-container div div div .nav-item a{
    background-color: white;
    color: darkgrey;
    text-align: end;
}


.main-container div div div .nav-item .nav-link.active, .nav-pills .show > .nav-link {
    background-color: white;
    color: black;
}

.tab-content div{
    overflow-wrap: break-word;
}

.tab-content div .container{
    padding-right:10%;
}

.nav-item a{
    outline: none !important;
}