.icon-link {
    display: inline-block;
}

.icon-link img {
    display: block;
    transition: all 0.1s linear;
    -webkit-transition: all 0.1s linear;
    -moz-transition: all 0.1s linear;
    -ms-transition: all 0.1s linear;
    -o-transition: all 0.1s linear;
    -webkit-filter: grayscale(100%); /* Safari 6.0 - 9.0 */
    filter: grayscale(100%);
}

.icon-link:hover img {
    -webkit-filter: grayscale(0%); /* Safari 6.0 - 9.0 */
    filter: grayscale(0%);
    opacity: 0.33;
}

.work-container p{
    font-size:14px;
    padding-left:10%;
    padding-right:10%;
    text-align: center;
}